.timer-box .item {
  position: relative;
  //background-image: repeating-linear-gradient(to right bottom, #000000 0px, #000000 1px, transparent 3px, transparent 8px);
  background-color: darkgray;
  border-radius: 5px;
}

.timer-box {
  flex-grow: 1;
  text-align: center;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  column-gap: 20px;
  grid-template-rows: 80px;
}

#day,
#hour,
#minute,
#second {
  font-family: "Cormorant Garamond", serif;
  font-size: xxx-large;
  color: hsl(0, 0%, 90%);
}

//.timer-box .item::before {
//  position: absolute;
//  width: 6px;
//  height: 20px;
//  background-color: hsl(0, 0%, 80%);
//  content: '';
//  left: 0;
//  top: 50%;
//  transform: translate(0, -50%);
//}

//.timer-box .item::after {
//  left: unset;
//  right: 0;
//}