.inviteBlock {
    width: 100vw;
    height: 100vh;
    background: url("https://images.pexels.com/photos/281962/pexels-photo-281962.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center;
}