.invite-form-main-block {
  text-transform: initial;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 80%);
  letter-spacing: 0.1em;

  & input {
    padding: 5px;
    margin: 10px 5px;
  }

  & button {
    padding: 5px;
    margin-top: 10px;
  }
}

.invite-form-alternate-block {
  text-transform: initial;
  color: hsl(0, 0%, 80%);
  font-size: 20px;
  letter-spacing: 0.1em;
}
